body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.div-inline {
  display: inline;
}

.align-right {
  float: right;
}